<ion-header  [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastre-se</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nome de usuário: <ion-textarea></ion-textarea></ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating">CPF/CNPJ: <ion-textarea></ion-textarea></ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating">e-mail: <ion-textarea></ion-textarea></ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Endereço: <ion-textarea></ion-textarea></ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Senha: <ion-textarea></ion-textarea></ion-label>
  </ion-item>

  <ion-button expand="block"><h2>Criar conta</h2></ion-button>


</ion-content>
