<ion-header  [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastre-se</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nome de usuário: <ion-textarea [(ngModel)]="novoperfil.user"></ion-textarea></ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating">CPF/CNPJ: <ion-textarea [(ngModel)]="novoperfil.profileIdentity"></ion-textarea></ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating">e-mail: <ion-textarea [(ngModel)]="novoperfil.profileMail"></ion-textarea></ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Endereço: <ion-textarea></ion-textarea></ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Senha: <ion-textarea [(ngModel)]="novoperfil.password"></ion-textarea></ion-label>
  </ion-item>

  <!-- <a href="/login"> -->
    <ion-button expand= "full" class = "button-full"(click)="handleClick()"><h2>Criar conta</h2></ion-button>
  <!-- </a> -->


</ion-content>
