<ion-header>
  <ion-toolbar>
    <ion-title>João Juliasz</ion-title>
  </ion-toolbar>
</ion-header>

<div class="container">
  <ion-item class="item-background-color" id="imgpos">
    <ion-input placeholder="Type a message"></ion-input>
    <ion-icon name="send-sharp"></ion-icon>
  </ion-item>
</div>
<div class = "conversation-container">
  <div class="message sent">
    Olá me chamo John, qual o seu nom?
  </div>
</div>

<div class = "conversation-container">
  <div class="message received">
    Olá me chamo Nathalia
  </div>
</div>

<div class = "conversation-container">
  <div class="message sent">
    Gostaria de adotar seu cachorro PEPE
  </div>
</div>

<div class = "conversation-container">
  <div class="message received">
    Maravilha, quando vc tem disponibilidade ?
  </div>
</div>

<div class = "conversation-container">
  <div class="message sent">
    Na sexta-feira pode ser ?
  </div>
</div>

<div class = "conversation-container">
  <div class="message received">
    Perfito, vc vem busca-lo?
  </div>
</div>

<ion-content>

</ion-content>
