<!-- Nome, CPF/CNPJ(Explicação sobre a empresa), e-mail, check box para doar, adotar ou cruzar, endereço e senha -->

<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nome de usuário</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>


  <ion-item>

    <ion-label position="floating" >Senha<ion-icon style="position:floating;"name="eye-off-outline"></ion-icon></ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>


<ion-button style="font-size: 3vw" fill = "clear" color = "blue" >Esqueceu sua senha/usuario ?</ion-button>
<ion-button style="font-size: 3vw" fill = "clear" color = "blue" >Deseja criar uma conta?</ion-button>

</ion-content>


