.noCards {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  text-align: center;
  color: #929292;
  flex-direction: column;

  h4 {
    width: 50%;
  }
}

.cards {
  position: relative;

  ion-card {
    height: 550px;
  }

  .card {
    position: absolute;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      height: 350px;
      width: 100%;
      object-fit: cover;
    }

    ion-card-subtitle {
      margin-bottom: 10px;
    }

    ion-card-content {
      font-size: 18px;
    }

    .rate {
      display: flex;
      width: 90%;
      justify-content: space-evenly;

      ion-badge {
        padding: 15px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        ion-icon {
          font-size: 30px;
        }

        .reject {
          color: palevioletred;
        }

        .like {
          color: #84da03;
        }
      }
    }
  }
}

