<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main">
  <div class="header">
    <ion-select placeholder="Filtrar por" interface="popover" (ionChange)="UpdateFilter($event)">
      <ion-select-option value="none">Tudo</ion-select-option>
      <ion-select-option value="Cão">Cães</ion-select-option>
      <ion-select-option value="Gato">Gatos</ion-select-option>
    </ion-select>
  </div>

  <div class="noCards">
    <ion-icon size="large" name="alert-circle-outline"></ion-icon>
    <h4>Você já viu tudo por enquanto!</h4>
  </div>

  <div class="cards">
    <div class="card" *ngFor="let animal of GetAnimalsList(); let i = index">
      <ion-card>
        <img [src]="animal.images[0]" />
        <ion-card-header>
          <ion-card-subtitle>{{ animal.type }}, {{ animal.intend }}</ion-card-subtitle>
          <ion-card-title>{{ animal.name }}, {{ animal.age.years }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{ animal.description }}
        </ion-card-content>
      </ion-card>


      <div class="rate">
        <ion-badge color="light">
          <ion-icon class="reject" name="close" (click)="dislike(animal.id)"></ion-icon>
        </ion-badge>
        <ion-badge color="light">
          <ion-icon class="like" name="heart" (click)="like(animal.id)"></ion-icon>
        </ion-badge>
      </div>
    </div>
  </div>

</ion-content>
