<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Seus Pets</ion-title>
  </ion-toolbar>
</ion-header> 
<ion-content>
  <ion-list>
    <div *ngFor="let p of Pets; let i = index">
      <ion-item (click)="handleClick(p.petUser, p.petName)">
        <ion-item> 
          <br/>
          <ion-row>    
            <ion-avatar >
              <img [src]="p.urlphoto">  
            </ion-avatar>   
            &nbsp;&nbsp;
            <ion-label>{{ p.petName }}
            <br/> 
            <br/> 
            <strong>{{ p.petType }}</strong></ion-label>
          </ion-row>
        </ion-item>
      </ion-item>
    </div>
  </ion-list>
</ion-content>