<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pet Salvos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <a *ngFor="let p of AnimalList; let i = index" routerLink="/chat" style="color: transparent;">
      <ion-item>
        <ion-item>
          <br/>
          <ion-row>
            <ion-avatar>
              <img [src]="p.UrlPhoto">
            </ion-avatar>
            &nbsp;&nbsp;
            <ion-label>{{ p.Name }}
            <br/>
            <br/>
            <strong>{{ p.Type }}</strong></ion-label>
          </ion-row>
        </ion-item>
      </ion-item>
    </a>
  </ion-list>
</ion-content>