<ion-header  [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nome de usuário:</ion-label>
    <ion-input [(ngModel)]="profileName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">CPF/CNPJ: 
      <ion-input [(ngModel)]="profileIdentity"></ion-input>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email: 
      <ion-input [(ngModel)]="profileMail>"></ion-input>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Endereço: 
      <ion-input [(ngModel)]="profileAddress>"></ion-input>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="placeholder">Senha: 
      <ion-input type="password" show-hide-input>145785</ion-input>
    </ion-label>
  </ion-item>


  <h1><ion-checkbox  color="medium" checked="true"></ion-checkbox>Doador</h1>
  <h1><ion-checkbox checked="false"></ion-checkbox>Cruzar</h1>
  <h1><ion-checkbox checked="false"></ion-checkbox>Adotar</h1>


</ion-content>
