<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nome de usuário:</ion-label>
    <ion-input [(ngModel)]="perfil.user"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">CPF/CNPJ:
    </ion-label>
    <ion-input [(ngModel)]="perfil.profileIdentity"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email:
    </ion-label>
    <ion-input [(ngModel)]="perfil.profileMail"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Estado: </ion-label>
    <ion-select [(ngModel)]="perfil.userState" (ionChange)="handleStateChange()">
      <ion-select-option *ngFor="let state of states" value="{{state.nome}}">{{state.nome}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Cidade: </ion-label>
    <ion-select [(ngModel)]="perfil.userCity">
      <ion-select-option *ngFor="let city of cities" value="city">{{city}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Endereço:
    </ion-label>
    <ion-input [(ngModel)]="perfil.profileAddress"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="placeholder">Senha:
    </ion-label>
    <ion-input type="password" [(ngModel)]="perfil.password"></ion-input>
  </ion-item>

  <ion-row style="margin: 15px auto">
    <div style="margin: 0 auto; display: flex; align-items: center; justify-content: center;">
      <ion-label>Doador</ion-label>
      <ion-checkbox [(ngModel)]="perfil.isDoador" [checked]="perfil.isDoador"></ion-checkbox>
    </div>
    <div style="margin: 0 auto; display: flex; align-items: center; justify-content: center;">
      <ion-label>
        Cruzar
      </ion-label>
      <ion-checkbox [(ngModel)]="perfil.isCruza" [checked]="perfil.isCruza"></ion-checkbox>
    </div>
    <div style="margin: 0 auto; display: flex; align-items: center; justify-content: center;">
      <ion-label>
        Adotar
      </ion-label>
      <ion-checkbox [(ngModel)]="perfil.isAdocao" [checked]="perfil.isAdocao"></ion-checkbox>
    </div>
  </ion-row>

  <!-- <ion-item> -->
  <ion-button expand="block" (click)="handleClick()">Salvar</ion-button>
  <!-- </ion-item>-->

</ion-content>